.button_round {
  background-color: $color-primary;
  color: $color-btn-text;
  border-radius: 3rem;
  padding: 8px 22px;
  justify-content: center;
  align-items: center;
  border: none;
  font-family: 'Poppins';
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $color-cursor-hover-btn;
  }
  @include tablet-width-676 {
    font-size: 2rem;
  }
}