.header__wrapper {
  max-width: 115.3rem;
  padding: 3.1rem 2rem 11.8rem 2rem;
  display: flex;
  justify-content: space-between;
}

.header__logo-link {
  text-decoration: none;
}

.header__title {
  color: $color-title-text;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4rem;
  position: relative;
  padding-left: 4.9rem;
  &::before {
    content: '';
    background-image: url('../icons/logo.svg');
    background-repeat: no-repeat;
    background-size: 4rem 4rem;
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: 0;
  }
}

// NAVIGATION

.navigation {
  display: flex;
  list-style: none;
  width: 36.7rem;
  justify-content: space-between;
  padding: 0.8rem 0;
  margin-left: 2.4rem;
}

.navigation__item {
  position: relative;
  &._active {
    &::after {
      content: '';
      position: absolute;
      border-bottom: solid 1.5px $color-navigation-active-border;
      width: 2.1rem;
      bottom: -6%;
      left: 43%;
    }
  }
}

.navigation__link {
  color: $color-navigation-text;
  text-decoration: none;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.menu__bg {
  @include tablet-width-676 {
    position: fixed;
    transition: 0.3s all ease-in-out 0.3s;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100vw;
    height: 1000vw;
    pointer-events: none;
    z-index: 10;
    &._active {
        pointer-events: all;
        opacity: 1;
        background: $color-primary;
        transition: 0.3s all ease-in-out 0.3s;
    }
  }
}

@include tablet-width-676 {
  .header__navigation {
    display: flex !important;
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: 100%;
    transform: translate(100%, 0);
    z-index: 20;
    transition: all 0.9s ease 0s;
    padding: 0 39px 0 39px;
    &._active {
      transform: translate(0px, 0px);
    }
    .navigation__item {
      margin: 40px 0 0 0 ;
      padding: 0;
      width: fit-content;
      text-align: center;
      &._active {
        &::after {
          content: '';
          position: absolute;
          border-bottom: solid 3px $color-navigation-active-border;
          width: 5rem;
          bottom: -6%;
          left: 39%;
        }
      }
    }
    .navigation {
      flex-direction: column;
      align-items: center;
      padding: 30% 0 30% 0;
    }
    .navigation__link {
      color: $color-btn-text;
      font-weight: 400;
      font-size: 3.2rem;

    }
  }
}