$color-body-background: #ECF7F3;
$color-title-text: #2D2D2D;
$color-navigation-text: #4A4A4A;
$color-primary: #48B774;
$color-btn-text: #FFFFFF;
$color-navigation-active-border: #FB9B69;
$color-get-started-title: #2D2D2D;
$color-get-started-define: #FF8345;
$color-get-started-text: #7C7C7C;
$color-get-started-subtitle: #707070;
$color-get-started-subtitle-define: #FD905A;
$color-input-search-background: #FFFFFF;
$color-input-search-text: #A1A1A1;