* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* to remove blue highlight while touching */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &::-webkit-scrollbar {
    width: 0;
  }
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  background-color: $color-body-background;
  font-family: "Poppins", sans-serif;
  &._lock {
    overflow: hidden;
  }
}